.App {
  text-align: center;
  background-color: #233143;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #DDE7F2;
}

h1{
  font-size: 50px;
  color: white
}

button {
  height: 100px;
  width: 100px;
  margin: 10px;
  font-size: 2rem;
  border-radius: 5px;
  border: none
}

.withdrawBtn{
  background-color: #F0A29A;
  color: #233143;
}

.restartBtn{
  background-color: #FFEA8A;
  color: #233143;
}

.depositBtn{
  background-color: #B4E59B;
  color:#233143
}